:root[data-theme="light"] {
    --bg1: #fff;
    --bg2: #a9dbad;
    --tc: #272727;
    --tch: #000
}

:root[data-theme="dark"] {
    --bg1: #031d05;
    --bg2: #194d1d;
    --tc: #dbdbdb;
    --tch: #fff;    
    img:not(.ignoreTheme){
        filter: invert(1);
        background:transparent !important;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, Inter, sans-serif;
    text-decoration: none;
    color: var(--tc);
}

a,
button{
    display: block;
    
    height: fit-content;
    width: fit-content;
    
    cursor: pointer;
    background: transparent;
    
    border: none;
    border-radius: 0.5rem !important;

    &[type=submit]{
        border: 0.2rem solid var(--bg2);
    }

    &:hover {        
        color: var(--tch) !important;
        background-color: var(--bg2) !important;                            
    }
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.17em;
}

#app {    
    background-image: linear-gradient(45deg, var(--bg1), var(--bg2), var(--bg1));
    
    padding: 1rem;
    
    display: flex;
    justify-content: center;
    
    min-height: 100vh;
    min-height: 100svh;

    position: relative;
}