:root[data-theme="light"] {
    --color: #a9dbad;

    --bg-dark: hsl(82 53% 84%);
    --bg: hsl(82 80% 89%);
    --bg-light: hsl(82 100% 94%);
    --text: hsl(91 100% 2%);
    --text-muted: hsl(73 100% 11%);

    --highlight: hsla(75, 84%, 24%, 0.5);
    --border: hsl(73 100% 11%);
    --border-muted: hsl(75 100% 6%);

    --primary: hsl(79 41% 57%);
    --primary05: hsla(79, 41%, 57%, 0.5);
    --secondary: hsl(267 72% 78%);

    --danger: hsl(8 63% 66%);
    --warning: hsl(52 49% 46%);
    --success: hsl(151 41% 51%);
    --info: hsl(217 73% 68%);
}

:root[data-theme="dark"] {
    --color: #194d1d;

    --bg-dark: hsl(89 100% 1%);
    --bg: hsl(86 100% 2%);
    --bg-light: hsl(79 100% 4%);
    --text: hsl(81 97% 85%);
    --text-muted: hsl(80 35% 60%);
    --highlight: hsla(75, 84%, 24%, 0.5);

    --border: hsl(78 47% 37%);
    --border-muted: hsl(79 35% 50%);

    --primary: hsl(73 100% 11%);
    --primary05: hsla(73, 100%, 11%, 0.5);
    --secondary: hsl(269 41% 34%);

    --danger: hsl(7 47% 42%);
    --warning: hsl(53 100% 17%);
    --success: hsl(161 100% 19%);
    --info: hsl(217 50% 44%);
}

:root {
    --hover: linear-gradient(0deg, var(--bg), var(--bg-light));
    --primary01: hsla(75, 84%, 24%, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, Inter, sans-serif;
    text-decoration: none;
    color: var(--text);
}

ul,
ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0;
}

a,
button {
    display: block;

    height: fit-content;
    width: fit-content;

    padding: 0.5rem 1rem;

    cursor: pointer;
    background: transparent;

    border: none;
    border-radius: 0.5rem !important;

    background-color: var(--primary);

    &[type=submit] {
        background-color: var(--secondary);
    }

    &:hover {
        background-image: var(--hover) !important;
    }
}

input,
select,
textarea {
    border: none;
    border-radius: 0.5rem !important;

    width: 100%;
    height: 2rem;

    padding: 0.5rem;

    background-color: var(--bg-light);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    color: var(--text);
}

h3 {
    font-size: 1.17em;
}

section {
    background: var(--bg);
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

#app {
    padding: 1rem;

    background-color: var(--bg-dark);

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;

    min-height: 100vh;
    min-height: 100svh;

    position: relative;
}